[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "CVThresh"]
	path = CVThresh
	url = https://github.com/cran/CVThresh
[submodule "EMD"]
	path = EMD
	url = https://github.com/cran/EMD
[submodule "EPT"]
	path = EPT
	url = https://github.com/cran/EPT
[submodule "GSD"]
	path = GSD
	url = https://github.com/cran/GSD
[submodule "SynchWave"]
	path = SynchWave
	url = https://github.com/cran/SynchWave
